<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pictionary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" ></script>  
</head>
<body>
    <h1>Pictionary</h1>

    <div id="top-content">
      <div id="clock"></div> 
      <div id="blank-word"></div>
      <div id="round"></div>
    </div>

    <div id="game-wrapper">
        <div id="player-names"></div>
    <canvas id="drawing-canvas" width="800" height="400"></canvas>
    <div id="chat-box">
        <div id="player-guesses"></div>
        <input type="text">
    </div>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>\
</body>
</html>