<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pictionary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" ></script>  
</head>
<body>
    <h1>Pictionary</h1>
    <script src="{{ url_for('static', filename='script.js') }}"></script>\

    <form action="{{ url_for('search') }}" method="post">
        <input type="text" name="searchInput" placeholder="Enter A Genre" class="search-field">
        <button type="submit" class="search-button" name="search_type" value="movie_search">
            <img src="{{url_for('static', filename='search.webp')}}" alt="search button">
        </button>
    </form>

</body>
</html>